VITE_SUPABASE_URL=https://xewxfsdrtqpthkpbhbzp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhld3hmc2RydHFwdGhrcGJoYnpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQwMDg2NDUsImV4cCI6MjA2OTU4NDY0NX0.EbuswQgNnRJKKFymQnzqlzYQsNcUcOPg7Y8P5607GIo
VITE_AVALANCHE_DEFAULT_NETWORK=mainnet
